body,
p,
img,
ul,
li,
ol,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
a,
input {
	margin: 0;
	padding: 0;
	font-family: Helvetica, '微软雅黑', arial;
	text-shadow: none;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
	overflow-x:hidden ;
    background: #ff8033 url(../img/bg-receive.jpg) no-repeat top;
    background-size:100% 100%; 
    overflow: hidden;
}

.content{
    margin: 13.25rem 1.25rem;
    padding: 1.8rem 1.25rem;
    background: #fff;
    border-radius: 0.5rem;
}

form{
    /*border: 1px solid #ccc;*/
    border-radius: 0.2rem;
}

.halfBorder{
     position: relative;
}
.halfBorder label{
	position: relative;
	z-index: 1;
}
.halfBorder:after{
     content: "";
     width: 200%;
     height: 200%;
     position: absolute;
     border:1px solid #ccc;
     transform: scale(0.5);
     transform-origin:left top;
     left: -0.5px;
     top: -0.5px;
     border-radius: 0.2rem;
     z-index: 0;
}

label{
    display: block;
    padding: 0.7rem 1.25rem;

}

input{
    font-size: 1.1rem;
    color: #333;
    border: none;
    line-height: 2rem;
}

.phoneBox{
    /*border-bottom: 1px solid #ccc;*/
    position: relative;
}
.phoneBox:after{
     content: "";
     width: 100%;
     left: 0;
     bottom: 0;
     height: 1px;
     transform: scaleY(0.5);
     background: #ccc;
     position: absolute;
}

.btn{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    background: #f60;
    border-radius: 0.2rem;
    float:right;
    font-size: 0.9rem;
    width: 6.5rem;
}
.btn img{
	width: 100%;
	height: 100%;
}

.sub{
    height: 3.4rem;
    line-height: 3.4rem;
    text-align: center;
    color: #fff;
    background: #f60;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    margin-top: 2.6rem;
    font-weight: bold;
}

.doubleArc{
    position: relative;
    height: 3.75rem;
}

.doubleArc::after,.doubleArc::before{
    position: absolute;
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: #ff8033;
    top: 1.225rem;
}
.doubleArc::before{
    left: -1.9rem;
}

.doubleArc::after{
    right: -1.9rem;
}

h3{
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: 1.1rem;
    color: #f60;
    text-align: center;
}
h3::after,h3::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 7rem;
    border-top:1px dashed #ccc; 
    height: 1px;
    margin:0 0.9rem; 
}

.mList{
    margin-top: 1.5rem;
}

.index{
    float: left;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    width: 1.05rem;
    height: 1.05rem;
    position: relative;
    margin:0.5rem 1.1rem 0 0.5rem;
}

.index i{
    position: relative;
    z-index: 1;
    font-style: normal
}

.index::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f60;
    transform: rotate(45deg);
    left: 0;
    top: 0;
}

.right{
    overflow: hidden;
    color: #666;
    font-size: 1rem;
}