.findTop {
    width: 100%;
    height: 3.3rem;
    background-color: #fff;
    overflow: hidden;
}

.findTop .mltLogo {
    width: 18%;
    height: 100%;
    display: inline-block;
    background: url(https://static.hx2car.com/resource/web/mobpages/images/mindex/toplogo.png) center center no-repeat;
    background-size:2.2rem auto;
    vertical-align: top;
}
.findTop .mlTitle {
    display: inline-block;
    width: 60%;
    height: 3.3rem;
    font-size: 1.35rem;
    line-height: 3.3rem;
    text-align: center;
    color: #000;
}

.findTop .mltOrder {
    display: inline-block;
    width: 22%;
    height: 3.3rem;
    font-size: 1.35rem;
    line-height: 3.3rem;
    text-align: right;
    color: #777;
}

.mbanner {
    width: 100%;
}

.mbanner img {
    width: 100%;
}

.input {
    background-color: #fff;
}

.input li{
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0.768rem 0 1.152rem;
    font-size: .86rem;
}
.input li>div{
    float: left;
    height: 2.944rem;
    line-height:2.944rem;
}
#choiceBrand,#choiceYears{
    display:inline-block;
    width:6.4rem;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
#choiceDescribe{
    display:inline-block;
    width:12.8rem;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.input li .rightContent {
    float: right;
    color: #666;
    font-size: .75rem;
}
.price, .Phone {
    border: none;
    width: 6.4rem;
    height: 1.28rem;
    font-size: .75rem;
    text-align: right;
}

.describe {
    color: #999;
}

.arrow {
    display: inline-block;
    width: 9.6rem;
    height: 2.944rem;
    background: url(https://static.hx2car.com/resource/web/mobpages/images/rightarrow.png) center center no-repeat;
    background-size: 0.8rem auto;
    vertical-align: top;
}

.submit {
    display: block;
    width: 100%;
    height: 4rem;
    background-color: #ff6600;
    font-size: 2rem;
    font-family: "黑体";
    color: #fff;
    line-height: 4rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 4rem auto;
}

.findStep .stepTitle {
    width: 65%;
    padding-top: 2.56rem;
    margin: 0 auto;
}

.stepTitle .dotted {
    display: inline-block;
    border-top: 2px dashed #f60;
    width: 28%;
    margin-bottom: 0.4rem;
}

.stepTitle .titleText {
    display: inline-block;
    width: 44%;
    text-align: center;
    font-size: 1.1rem;
    color: #f60;
}
.stepContent {
    width: 82%;
    margin:1.92rem auto;
}
.stepContent li{
    overflow: hidden;
}
.stepContent li>div{
    float:left;
}
.stepContent .stepLine{
    width:70%;
    margin-left:-.75rem;
    padding-left:1.28rem;
    padding-bottom:1.28rem;
    border-left:2px solid #f60;
    font-size:.86rem;
    color:#666;
    position: relative;
}
.stepContent .stepLine .step{
	position: absolute;
	width: 4.16rem;
}
.stepContent .stepLine .sCon{
	float: left;
    width: 100%;
    padding-left: 3.52rem;
}
.stepContent li .lastStep{
    border:none;
}
.circle {
    position: relative;
    display: inline-block;
    width: .64rem;
    height: .64rem;
    border-radius: 100%;
    border: 2px solid #f60;
    background:#f6f6f6;
    z-index: 2;
}
.text {
    line-height: 1.152rem;
}
.light {
    color: #f60;
}

.mFoot {
    padding: 2rem 0;
}
/*******************4级品牌******************/
.thirdGrade .tgList .tglRight span.tghrFourgrade::after, .thirdGrade .tgList .tglRight span.tghrYear::after, .fgTitle::after, .firstGrade .fgList .fglAlone span::after, .secondGrade .sgList span::after {
    content: '';
    width: 100%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.thirdGrade .tgList .tglLeft::after {
    content: '';
    width: 1px;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    height: 100%;
    background-color: #e1e1e1;
    position: absolute;
    top: 0;
    right: 0;
}

.firstGrade {
    width: 100%;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.fGrade {
    width: 100%;
    background-color: #fff;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.fgTitle {
    width: 100%;
    height: 4rem;
    position: relative;
    line-height: 4rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #fff;
}

#fgradeArrow,.backArrow,.model-arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://m.hx2car.com/resource/web/mobpages/images/leftarrow.png) center center no-repeat;
    background-size: .8rem auto;
    width: 3.2rem;
    height: 100%;
}

.fgTitle span {
    width: 6rem;
    position: absolute;
    height: 2.944rem;
    font-size: .8rem;
    text-align: center;
    right: 0;
    top: 0;
    color: #333;
}

.firstGrade .fgHistory {
    width: 100%;
}

.firstGrade .fgHistory .fghTitle {
    height: 2.24rem;
    background-color: #f6f6f6;
    padding: 0 0 0 1.7rem;
    color: #666;
    line-height: 2.24rem;
    font-size: 1rem;
    position: relative;
}

.firstGrade .fgHistory .fghTitle span {
    float: right;
    line-height:2.24rem;
    color: #333;
    margin-right: 1.7rem;
}

.firstGrade .fgHistory .fghHis {
    overflow: hidden;
    width: 100%;
    padding: 0.4rem 0 1.6rem 0;
}

.firstGrade .fgHistory .fghHis li {
	line-height:normal;
    float: left;
    width: 25%;
    margin: .6rem 0 0 0;
    text-align: center;
}

.firstGrade .fgHistory .fghHis li .fghhLogo {
    width: 100%;
    text-align: center;
}

.firstGrade .fgHistory .fghHis li .fghhLogo img {
    width: 2.24rem;
    display: inline-block;
}

.firstGrade .fgHistory .fghHis li .fghhName {
    font-size: .8rem;
    display: inline-block;
    width: 80%;
    line-height: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.firstGrade .fgList {
    width: 100%;
}

.firstGrade .fgList .fglAlone {
    width: 100%;
}

.firstGrade .fgList .fglAlone .fglaLetter {
    height: 3rem;
    background-color: #f6f6f6;
    padding: 0 0 0 1.7rem;
    color: #666;
    line-height: 3rem;
    font-size: 1.2rem;
    position: relative;
}

.firstGrade .fgList .fglAlone span {
    padding: 0 0 0 5.2rem;
    position: relative;
    color: #333;
    height: 4.1rem;
    line-height: 4.1rem;
    font-size: 1.2rem;
    display: block;
}

.firstGrade .fgList .fglAlone span img {
    width: 2rem;
    position: absolute;
    top: 1rem;
    left: 1.2rem;
}

.firstGrade .letterNav {
    width: 1.7rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    right: 0;
    padding: 5px 0;
    background-color: #f6f6f6;
}

.firstGrade .letterNav span {
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
    display: block;
}

.firstGrade .preLetter {
    width: 4.48rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.28rem;
    color: #9b9b9b;
    text-align: center;
    background-color: #f6f6f6;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border: 1px solid #eaeaea;
    border-radius: 0.4rem;
}

.secondGrade {
    width: 100%;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.secondGrade .sgList {
    width: 100%;
}

.secondGrade .sgList span {
    padding: 0 0 0 1.7rem;
    position: relative;
    color: #333;
    height: 4.1rem;
    line-height: 4.1rem;
    font-size: 1.2rem;
    display: block;
}

.secondGrade .sgList p.sglTheme {
    padding: 0 0 0 1.7rem;
    height: 3rem;
    line-height: 3rem;
    color: #666;
    background-color: #f6f6f6;
    font-size: 1.2rem;
    display: block;
}

.thirdGrade {
    width: 100%;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    padding: 4rem 0 0 0;
    height: 100%;
    overflow-y: scroll;
}

.thirdGrade .tgList {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.thirdGrade .tgList .tglLeft {
    width: 8.3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

.thirdGrade .tgList .tglLeft span {
    height: 4.1rem;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    line-height: 4.1rem;
}

.thirdGrade .tgList .tglLeft .thirdOn {
    background-color: #fff;
    position: relative;
}

.thirdGrade .tgList .tglLeft .thirdOn::after {
    content: '';
    width: 1px;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
}

.thirdGrade .tgList .tglRight {
    padding: 0 0 0 8.3rem;
    overflow-y: scroll;
    height: 100%;
}

.thirdGrade .tgList .tglRight span {
    display: block;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 1.25rem .8rem 1.25rem 1.6rem;
}

.thirdGrade .tgList .tglRight span.tghrFourgrade {
    line-height: 1.6rem;
    color: #999;
    position: relative;
}

.thirdGrade .tgList .tglRight span.tghrYear {
    height: 3rem;
    line-height: 3rem;
    color: #555;
    position: relative;
    padding: 0 6.4rem 0 1.3rem;
}
/*****************选择年份***************/
.yearsPage,.describePage,.cpage {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:auto;
    right: 0;
    z-index: 100;
    background-color: #f6f6f6;
    transition: all 0.3s;
    transform: translate(100%, 0px);
}
.pageTitle {
    width: 100%;
    height: 2.944rem;
    position: relative;
    line-height: 2.944rem;
    font-size: .96rem;
    text-align: center;
    background-color: #fff;
    border-bottom:1px solid #e1e1e1;
}
.years_panel{
    margin-top:1rem;
}
.years_panel li{
    background-color: #fff;
    padding: 0 0 0 1.7rem;
    color: #666;
    height: 5rem;
    line-height: 5rem;
    font-size: .86rem;
    border-bottom:1px solid #e1e1e1;
}
/***********描述***********/
.pageTitle .endInput{
    position: absolute;
    right:2rem;
    top:0;
    font-size:1.5rem;
    color:#666;
}
.describePage textarea{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background:#f6f6f6;
    font-size:.86rem;
    font-family: "黑体",arial;
    font-weight: normal;
    line-height:2rem;
    padding: 1.4rem;
    resize: none;
    outline: none;
    border:none;
}
@media only screen and (max-width: 350px) {
	.stepContent { width: 92%;}
}